.popup__button {
  background: #000000;
  border-radius: 2px;
  color: #ffffff;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  min-height: 50px;
}