.popup__close-button {
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
  width: 58px;
  height: 58px;
}

@media screen and (max-width: 688px) {
  .popup__close-button {
    right: 10px;
    width: 36px;
    height: 36px;
  }
}